.header {
  display: flex;
  align-items: center;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .logo {
  height: 32px;
}

.header .title-group {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.header .material-icons {
  margin-left: 25px;
}

.header .title-group i {
  margin-right: 5px;
  color: rgb(77, 77, 77);
}

.header .title-group a {
  font-size: 0.9rem;
  color: black;
}